/* p is known as selector in CSS, it targes specific element
     Selector that's more specific has higher priority   */
p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;

}

.video-stats {
  font-size: 14px;
  color: rgb(95, 96, 96);
  margin-bottom: 20px;

}

.video-author {
  color: rgb(95, 96, 96);
  font-size: 14px;
  margin-bottom: 20px;

}

.video-description {
  font-size: 14px;
  color: rgb(95, 96, 96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;

}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  line-height: 22px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;


}

.span-example {
  color: red;
  Margin-left: 8px;

}

.span-example:hover {
  text-decoration: underline;
}

.shop-link:hover {
  text-decoration: underline;
  cursor: pointer;

}