.thumbnail {
  width: 97%;
  /*object-fit: contain;
      object-position: right;
      border-width: 2px;
      border-style: solid;
      border-color: red */
}



.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}


.profile-picture {
  width: 38px;
  border-radius: 28px;
}

.video-title {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96)
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  column-gap: 12px;
  row-gap: 40px;
}

@media(max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width:751px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* 
This is called MEDIA QUERY, it is used to make the website responsive.
They adapt their layout depending on the device size, orientation, or even user settings (like dark mode).
*/

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 14px;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 8px 4px 8px;
  /* Works as clockwise*/
  border-radius: 2px;
}

/*  
A useful CSS GRID to make an accurate grid for elements inside the websites
  Doesn't need to use. Block/in-block/inline-block or margins. 

-CSS shorthand properties
-CSS SPECIFITY - prioritizes styles that targets specific elements, rather than the general styles.
               - overrides general styles.  

*/